.container {
  padding: 0 15px;
}

@media only screen and (min-width: 575.98px) {
  .container {
    padding: 0 calc(50% - 270px);
  }
}

@media only screen and (min-width: 767.98px) {
  .container {
    padding: 0 calc(50% - 360px);
  }
}

@media only screen and (min-width: 991.98px) {
  .container {
    padding: 0 calc(50% - 480px);
  }
}

@media only screen and (min-width: 1199.98px) {
  .container {
    padding: 0 calc(50% - 600px);
  }
}
