node_modules
npm-debug.log
build
.svelte-kit
.cache
.env
.env-example
env
tests
README.md
.npmrc
.prettierrc
.prettierignore
.stylelintrc.cjs
.stylelintignore
.hintrc
.eslintrc.cjs
.eslintignore
.vscode
.git
.gitattributes
Dockerfile
Dockerfile.dev
Dockerfile.prod
docker-compose.deploy.yml