@import url('./global/reset.css');
@import url('./global/media.css');
@import url('./global/selectors.css');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 12px;
}

html,
body {
  height: 100%;
}

main {
  flex: 1 0 auto;
}

footer {
  flex: 0 0 auto;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

@viewport {
  width: device-width;
  zoom: 1;
}
